<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bigcamp.site_dock" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Site dock</name>
    <description>Site dock app</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        bigcamp
    </author>
    <icon src="./icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <preference name="orientation" value="portrait" /> -->
    <preference name="Fullscreen" value="true" />


    <preference name="AndroidInsecureFileModeEnabled" value="true" />


    <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest" xmlns:android="http://schemas.android.com/apk/res/android">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    </config-file>
    </platform>

</widget>
